         .body{
             margin: 0px;
         }
         .website{
             background-color: beige;
         }
         .nav{
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 30px;
            padding-right: 15px;
        
        }
        #te{
            color: #13b868;
            font-size: 25px;
        }
        .nav ul li{
            color: white;
            list-style: none;
            display: inline-block;
        
        }
        .nav ul li a{
            text-decoration: none;
            color: #2F8159;
            padding: 10px;
            font-size: 20px;
        }
        .nav ul li a{
            padding: 7pxpx;
            border-radius: 5px;
         }
         
        .nav li a:hover {
             background-color: rgb(219, 152, 7); 
             color: white; 
             padding: 10px;
                          
         }
         button{
            background-color: #2F8159;
            margin: 15px;
            border: 0px;
            border-radius: 5px;
            width: 85px;
            height: 35px;
         }
         #viol{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            color: black;
         }
         strong{
            color: #2F8159;
         }
         .site{
            margin: 105px;
            padding: 10px;
            
         }
         .holder{
            display: flex;
         }
         #vio{
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
            color: rgb(27, 27, 27);
         }
         img{
            width: 300px;
            padding: 45px;
            margin: 22px;
         }
         #in{
            width: 100px;
            height: 40px;
            color: white;
         }
         #melanine{
            font-family: 'Times New Roman', Times, serif;
            font-size: 12px;
            color: black;
           
         }
         #melanin{
            font-family: fantasy;
            font-size: 28px;
         }
         .holde{
            margin: 23px;
         }
         .lanine{

         }
         .lanin{
            background-color: #515151;
            width: 300px;
            height: 205px;
            margin: 30px;

         }
         .lanine{
            
              background: lightblue;
              display: flex
         }
         .kevin {
             display: grid;
             grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
             gap: 30px;
             max-width: 1100px;
               margin: auto;
         }
         .ke {
             background: #3a3a3a;
             padding: 30px;
             border-radius: 8px;
             color: white;
             text-align: center;
             transition: 0.3s ease-in-out;
         }
         .ke:hover {
             transform: translateY(-5px);
              background: #323232;
         }
         .ke i{
             color: #2F8159;
             font-size: 33px;
          }

          h3 {
              margin-bottom: 10px;
             font-size: 22px;
          }

          p {
          font-size: 14px;
          color: #cccccc;
          }
         .shem{
           background-color: black;
           display: flex;
          justify-content: center;
           padding: 0px;
          }
          .lass{
            display: flex;
          }



